.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(125deg, #6a11cb, #2575fc);
  padding: 20px;
}

.register-card {
  width: 900px;
  max-width: 95%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.35);
  text-align: left;
  animation: fadeIn 0.7s ease-in-out;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.title, .subtitle {
  grid-column: span 2;
  text-align: center;
  color: white;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  color: white;
  font-size: 13px;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #f8f8f8;
}

.btn-register {
  grid-column: span 2;
  width: 100%;
  background: white;
  border: none;
  padding: 14px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}

.btn-register:hover {
  background: #f0f0f0;
  color: rgb(61, 42, 42);
}

.login-text {
  grid-column: span 2;
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  color: white;
}

.login-link {
  color: yellow;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .register-card {
    grid-template-columns: 1fr;
    padding: 30px 25px;
  }
}
