/* Background */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(125deg, #6a11cb, #2575fc);
  padding: 20px;
}

/* Login Card */
.login-card {
  width: 350px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
}

/* Title */
.title {
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.subtitle {
  color: #eee;
  font-size: 14px;
  margin-bottom: 25px;
}

/* Input group */
.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  color: white;
  font-size: 13px;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.input-group input::placeholder {
  color: #f8f8f8;
}

/* Button */
.btn-login {
  width: 100%;
  background: white;
  border: none;
  padding: 11px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
   color: black; 
}

.btn-login:hover {
  background: #f0f0f0;
  color: rgb(78, 46, 46); 
}

/* Register */
.register-text {
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

.register-link {
  color: yellow;
  font-weight: 600;
  cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
