.sidebar ul,
.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 15px;
  background: #fff;
  border-right: 1px solid #ddd;
  text-align: left;
}

.sidebar-link {
  padding: 8px 10px;
  border-radius: 6px;
  color: #333;
  display: block;
  transition: 0.2s ease;
  float: left;
  display: flex;      
  align-items: center; 
  width: 100%; 
}

.sidebar-link:hover {
  background: #f2f2f2;
}

.sidebar-link.active {
  background: #e8f0ff;
  color: #0d6efd !important;
  font-weight: 600;
}
